snippet ttest "Table-based test"
func Test${1:Class}${2:Func}(t *testing.T) {
	tests := []struct{
		$3
	}{
		$5
	}
	for i, tt := range tests {
		$4
		if got, want := got, tt.want; !reflect.DeepEqual(got, want) {
			t.Errorf("%d $1.$2()\ngot  %#v\nwant %#v", i, got, want)
		}
	}
}
endsnippet

snippet range "Range"
for ${1:i}, ${2:x} := range ${3:list} {
	$4
}
endsnippet
